//page
$page-font: 16px "pt_sans_narrowregular", Arial, sans-serif;
$page-background-default: #166eef;
$page-font-color: #fff;
$border-color: rgba(255, 255, 255, .251);

//menu-button
$menu-button-bg-color: #fff;

//sidebar
$sidebar-bg-color: #081322;
$sidebar-border-color: rgba(255, 255, 255, .251);

//search
$search__search-field-bg-color: rgba(255, 255, 255, .75);
$search__search-field-font: 1.3em "pt_sans_narrowregular", sans-serif;

//settings
$settings-bg-color: #152132;